# Ignore Mac system files
.DS_Store
.pyc

# Ignore directories with custom files
config_files/*

# Ignore directories and files in progress
swift_TMM

# Ignore output files
data/out
test/testing_sim_folder
transfer_matrix.log

# Ignore Python environments
.env
